@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&family=Space+Grotesk:wght@500&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

.left-section {
  width: 40%;
  background: url(images/bg-main-desktop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  width: 10rem;
  height: 10rem;
}

.cards h1,
.cards span,
#on-card-logo {
  z-index: 3;
  color: var(--white);
}

.card {
  width: 420px;
  height: 220px;
  border-radius: 1rem;
  box-shadow: 2px 3.5px 0.75rem 1.5px var(--very-dark-violet);
}

.front-card {
  background: url(images/bg-card-front.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -100%;
  left: 100%;
  transform: translateX(-90%);
}

#on-card-logo {
  left: 5%;
  position: absolute;
}
.front-card h1 {
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  top: 110px;
  right: -19px;
  position: absolute;
  width: 100%;
}

.cards-detail {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.035rem;
  position: absolute;
  top: 160px;
  right: 10px;
  width: 93%;
}

.back-card {
  background: url(images/bg-card-back.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -100%;
  left: 100%;
  transform: translateX(-75%);
}

#on-card-cvc {
  position: absolute;
  top: 43%;
  right: 12%;
}

.right-section {
  width: 60%;
}

.container-lg {
  width: 75%;
}
form {
  margin: 0 3rem;
  padding: 1rem;
}

.field-label {
  margin: 0.5rem;
}

.field-label input {
  padding: 0.5rem;
  width: 100%;
}
.wrapper-input-detail {
}
.field-label #card-exp-mm,
.field-label #card-exp-yy {
  width: 45%;
}

.field-label.card-cvc-detail {
  flex-grow: 1;
  width: 100%;
}

.card-cvc-detail #card-cvc {
  justify-content: stretch;
}

.btn.btn-primary {
  border: none;
  text-align: center;
  width: 50%;
  background: var(--very-dark-violet);
}
@media screen and (max-width: 1025px) {
  .back-card {
    left: 120px;
  }
}

@media screen and (max-width: 950px) {
  body {
    max-height: 100vh;
  }
  main {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
    max-height: 35%;
  }
  .right-section {
    width: 100%;
    max-height: 65vh;
  }

  .cards {
    width: 5rem;
    height: 5rem;
    margin: auto;
  }

  .card {
    width: 300px;
    height: 150px;
    left: 150px;
    top: -75%;
  }

  .front-card {
    z-index: 2;
    top: 65%;
  }
  #on-card-logo img {
    width: 75%;
  }
  .front-card h1 {
    font-size: 0.95rem;
    top: 95px;
  }
  .front-card .cards-detail {
    font-size: 0.8rem;
    top: 118px;
    left: 20px;
    width: 87%;
  }
  .back-card {
    left: 140px;
  }

  #on-card-cvc {
    font-size: 0.8rem;
  }

  .right-section {
    font-size: 0.75rem;
  }
  .wrapper {
    max-height: 100%;
  }
  .container-lg,
  form {
    width: 100vw;
    /* background: #000; */
  }
  footer .wrapper-footer {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 545px) {
  .card {
    width: 220px;
    height: 120px;
    left: 115px;
    bottom: 0;
  }
  #on-card-logo {
    width: 3.5em;
  }
  .front-card h1 {
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    top: 70px;
    left: 8px;
  }
  .front-card .cards-detail {
    top: 100px;
    font-size: 0.65rem;
  }
  .back-card {
    font-size: 0.65rem;
  }

  footer .wrapper-footer {
    font-size: 0.65rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 330px) {
  form > *,
  .btn {
    font-size: 0.5rem;
  }
}
