@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

.wrapper-left {
  width: 30vw;
  background: url(./images/bg-main-desktop.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-right {
  width: 70vw;
}
